// Navigation code here
.nav-content {
  background: @wild-sand;
  nav {
    max-width: 800px;
    width: 100%;
    margin: 2rem auto;
    padding: 1.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 4rem;
    }
    ul {
      margin-top: 2em;
      display: flex;
      justify-content: center;
      li {
        margin: auto 1.2em;
        color: @header-font-color;
        font-size: 1.6em;
      }
    }
  }
}
